html {  
    background: url(images/sky.png) no-repeat center center fixed; background-size: cover; 
    -webkit-background-size: cover; 
    -moz-background-size: cover; 
    -o-background-size: cover; 
    } 
    /* If in case you wish to turn off the white bg in bootstrap */ 
    body{ 
    background-color: transparent; 
    /*
    - found this html backgroundd styling/code from: https://www.quora.com/How-do-I-make-the-background-image-responsive-in-Bootstrap
    - code was posted by Abhilash Pillai, Online Educator at youtube.com/makdi (2016-present)
        - 3rd post down from the top of the page.
    */
} 
.responsive {
    max-width: 75%;
    height: auto;
}
img{
    padding: 10px;
}
.displayBox{
    width: 100%;
    font-family: 'Shadows Into Light', cursive; /* took this font from my kanban board project */
}
.scroll-box{
    overflow-y: auto; /* creating a scroll bar*/
    height: 500px; /* so we dont have to read it one line at a time*/
    float: left;
    padding: 1rem;
}
.card{
    background: linear-gradient(90deg, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%); /* created this using url: https://cssgradient.io/ */
}
.form-control{
    background: white
}
.btn{
    background-color: thistle; /* color of the search button*/
}